<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>Clean Blog - Start Bootstrap Theme</title>
  <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
  <!-- Font Awesome icons (free version)-->
  <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
  <!-- Google fonts-->
  <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css" />
  <!-- Core theme CSS (includes Bootstrap)-->
  <link href="css/styles.css" rel="stylesheet" />
</head>

  <div class="container">
    <script type="text/javascript" src="/jQuery/jquery.min.js"></script>
    <script type="text/javascript" src="/bootStrap/js/bootstrap.min.js"></script>
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <link rel="stylesheet" href="/bootStrap/css/bootstrap.min.css">
        <style>
            .bd-placeholder-img {
              font-size: 1.125rem;
              text-anchor: middle;
              -webkit-user-select: none;
              -moz-user-select: none;
              user-select: none;
            }
      
            @media (min-width: 768px) {
              .bd-placeholder-img-lg {
                font-size: 3.5rem;
              }
            }
      
            .b-example-divider {
              height: 3rem;
              background-color: rgba(0, 0, 0, .1);
              border: solid rgba(0, 0, 0, .15);
              border-width: 1px 0;
              box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
            }
      
            .b-example-vr {
              flex-shrink: 0;
              width: 1.5rem;
              height: 100vh;
            }
      
            .bi {
              vertical-align: -.125em;
              fill: currentColor;
            }
      
            .nav-scroller {
              position: relative;
              z-index: 2;
              height: 2.75rem;
              overflow-y: hidden;
            }
      
            .nav-scroller .nav {
              display: flex;
              flex-wrap: nowrap;
              padding-bottom: 1rem;
              margin-top: -1px;
              overflow-x: auto;
              text-align: center;
              white-space: nowrap;
              -webkit-overflow-scrolling: touch;
            }

            /* style for modal */
            .modal-sheet .modal-dialog {
                width: 380px;
                transition: bottom .75s ease-in-out;
            }
            .modal-sheet .modal-footer {
                padding-bottom: 2rem;
            }

            .modal-alert .modal-dialog {
                width: 380px;
            }
          </style>
              <!-- Navigation-->
      <nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
          <div class="container px-4 px-lg-5">
              <a class="navbar-brand" href="index.html">Start Bootstrap</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                  Menu
                  <i class="fas fa-bars"></i>
              </button>
              <div class="collapse navbar-collapse" id="navbarResponsive">
                  <ul class="navbar-nav ms-auto py-4 py-lg-0">
                      <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="index.html">Home</a></li>
                      <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/user/<%=id%>">Status</a></li>
                      <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/user/logout">LogOut</a></li>
                      <% if(auth == 1){%>
                        <li><a href="/user/list" class="nav-link px-2 link-dark">UserList</a></li>
                      <% }%>
                      <% } else{ %>
                        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#signInModal">Sign in</button>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#signUpModal">Sign-up</button>
                    <% } %>
                  </ul>
              </div>
          </div>
      </nav>


      <div class="modal fade" id="signinModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Sign In</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form action="/user" method="POST">
                <div class="mb-3">
                  <label for="recipient-name" class="col-form-label">Email :</label>
                  <input type="text" name="email" class="form-control" id="recipient-name">
                </div> 
                <div class="mb-3">
                  <label for="message-text" class="col-form-label">Password :</label>
                  <input type="password" class="form-control" id="message-text" name="password"></textarea>
                </div>
                <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit">Log In</button>
              </form>
            </div>
            <div class="modal-footer">
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="signUpModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Sign Up</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form action="/user/insert" method="POST">
                <div class="mb-3">
                  <label for="recipient-name" class="col-form-label">Email :</label>
                  <input type="text" name="email" class="form-control" id="recipient-name">
                </div> 
                <div class="mb-3">
                  <label for="message-text" class="col-form-label">Password :</label>
                  <input type="password" class="form-control" id="password" name="password" maxlength="20"></textarea>
                </div>

                <div class="alert alert-success" id="alert-success">비밀번호가 일치합니다.</div>
                <div class="alert alert-danger" id="alert-danger">비밀번호가 일치하지 않습니다.</div>

                <div class="mb-3">
                  <label for="message-text" class="col-form-label">Password Check:</label>
                  <input type="password" class="form-control" id="password2" name="password2" maxlength="20"></textarea>
                </div>
                
                <div class="mb-3">
                  <label for="message-text" class="col-form-label">Number(학번) :</label>
                  <input type="text" class="form-control" id="message-text" name="number" maxlength="8"></textarea>
                </div>
                <div class="mb-3">
                  <label for="message-text" class="col-form-label">Name :</label>
                  <input type="text" class="form-control" id="message-text" name="name" maxlength="10"></textarea>
                </div>
                <div class="mb-3">
                  <label for="message-text" class="col-form-label">Phone :</label>
                  <input type="text" class="form-control" id="message-text" name="phone" maxlength="11"></textarea>
                </div>
                <button id="submit" class="w-100 mb-2 btn btn-lg rounded-3 btn-primary" type="submit">Sign Up</button>
              </form>
            </div>
            <div class="modal-footer">
            </div>
          </div>
        </div>
      </div>
   </header>
  </div>

      <script type="text/javascript">
        $(function(){
          
            $("#alert-success").hide();
            $("#alert-danger").hide();
            $("#submit").hide();
            $("input").keyup(function(){
                var pwd1=$("#password").val();
                var pwd2=$("#password2").val();
                if(pwd1 != "" || pwd2 != ""){
                    if(pwd1 == pwd2){
                        $("#alert-success").show();
                        $("#alert-danger").hide();
                        $("#submit").show();
                    }else{
                        $("#alert-success").hide();
                        $("#alert-danger").show();
                        $("#submit").hide();
                    }    
                }
            });
        });
    </script>
